.temperature-container {
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
   padding-right: 10px;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

#celsius-link:hover,
#fahrenheit-link:hover {
  text-decoration: underline;
}
.feels-like {
  font-size: 15px;
}

#img-today {
  margin-top: -50px;
}
.col-7 {
  margin-top: -6px;
}
#description{
  text-transform: capitalize;
}

@media (max-width: 550px) {
  .temperature-container {
    width: 100%;
    justify-content: flex-end;
   
  }
  #img-today {
    width: 70px;
  }
  #temperature-today{
    font-size: 26px;
  }
}
